body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./static/blurry-gradient-haikei.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Barlow Condensed', sans-serif;
}
h2{
  font-size: 1.5em;
  line-height: 1.1;
  font-family: 'Barlow Condensed', sans-serif;
}




.navbar {
    display: flex;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    padding: 10px; 
    background-color: transparent; 
    justify-content: flex-end; 
    gap: 20px;
    z-index: 1000; 
    padding:10px;
    box-sizing: border-box;
}

.navbar a {
    text-decoration: none;
    padding: 1.2rem;
    background-color: transparent; 
    border-radius: 30px;
    color: white;
   
    text-shadow: 1px 1px black;
    transition: background-color 0.3s; 
}

.navbar a:hover {
    cursor: pointer;
    background-color: rgba(210, 206, 206, 0.5);
}

.container{
  display:flex;
  flex-direction: column;
  gap:3px;
  position:absolute;
  align-items: center;
  top: 20%;
  left:35%;
}
.container button{
  color:white;
  font-family: 'Barlow Condensed', sans-serif ;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.5em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;


}

.container button:hover{
  background-color: #0fc7a2;
  cursor: pointer;
  border-color: white ;
}

.question{
  align-items: center;
  display:flex;
  flex-direction: column;

}
.question img{
  cursor:pointer
}

.question button{
  color:white;
  font-family: 'Barlow Condensed', sans-serif ;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.5em;
  font-size: 1em;
  font-weight: 500;
  background-color: #3a3a3a;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
  margin :5px;
}

.question button.correct {
  background-color: #4caf50;
  color: white;
}

.question button.incorrect {
  background-color: #f44336;
  color: white;
}